/**
 * Button Design
 */
.btnHome {
    width: 100px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-variant: small-caps;
    position: absolute;
    border: 2px solid #73AD21;
    left: 0px;
}
.btnGithub {
    width: 100px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-variant: small-caps;
    position: absolute;
    border: 2px solid #73AD21;
    left: 100px;
}
.btnJs {
    width: 100px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-variant: small-caps;
    position: absolute;
    left: 200px;
    border: 2px solid #73AD21;
}
.btnJquery {
    width: 100px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-variant: small-caps;
    position: absolute;
    left: 300px;
    border: 2px solid #73AD21;
}
