.centerBody {
    margin: 0 auto;
    position: relative;
    background-color: #252525;
    border-width: 8px;
    grid-area: 2 / 2 / 5 / 5;
    border: 2px solid #73AD21;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}
.descBox {
    color: white;
}
.slideshowContainer {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 75%;
    border: 2px solid green;
}
.imageContainer {
    border: 2px solid green;
    position: relative;
    overflow: hidden;
    width: 20%;
    height: 30%;
}
.slideImage {
    object-position: center;
    object-fit: fill;
}