/**8
 * Photo Design
 */

.imageContainer {
    border: 2px solid #73AD21;
    width: 800px;
    height: 400px;
    position: relative;
    left: 25px;
    top: 0px;
}

.slideImage {
    display: inline;
    position: relative;
    width: 800px;
    height: 400px;
}
.btnLeft {
    position: absolute;
    left: 10px;
    top: 200px;
}
.btnRight {
    position: absolute;
    right: 10px;
    top: 200px;
}