/**
 * CSS THeme
 */

#layoutHead {

}
#layoutBody {
    position: relative;
    background-color: #424250
}
#layoutFooter {

}
.headerContainer {
    position: relative;
    background-color: black;
    width: auto;
    height: 200px;
}
.navbar {
    position: relative;
    width: auto;
    height: 40px;
    top: 150px;
    padding: 0%;
    display: block;
    
}
.navbar ul {
    text-align: center;
}
.btnHome {
    width: 10%;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-variant: small-caps;
}
.btnGithub {
    width: 10%;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-variant: small-caps;
}
.btnJs {
    width: 10%;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-variant: small-caps;
}
.btnJquery {
    width: 10%;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-variant: small-caps;
}
.photoOne {
    width: 50px;
}
.mainFrame {
    
}