/**
 * CSS THeme
 */


 /**
  * Layout Settings
  */
#layoutHead {

}

#layoutBody {
    background-color: #424250
}

#layoutFooter {

}


.nav {
    width: auto;
    height: 60%;
    padding: 0%;
    display: block;
    background-color: #33333D    
}