/**
 * CSS THeme
 */


 /**
  * Base Layout Settings
  */
#layoutHead {

}

#layoutBody1 {
    position: relative;
    z-index: 1;
    background-color: #424250
}


#layoutFooter {

}

/**
 * Layer 2 Layout Settings
 */
.layoutBody2 {
    position: relative;
    z-index: 2;
    background-color: #33333D;
    width: auto;
    height: 1000px;    
}

/**
 * Navbar Settings
 */
.navbar {
    width: auto;
    height: 40px;
    padding: 0%;
    display: block;
    background-color:white;
}

/**
 * Navbar Text
 */
.navbar ul {
    text-align: center;
}
